@use "./mixins" as *;
@use "./variables" as *;
@use "./breakpoints" as *;

.header {
  margin-top: 0;
  background-color: $primary-color;
  @include flex(center, center);
  &__container {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    margin: 0 10px;
    padding-top: 5px;
    padding-bottom: 7px;
  }

  &__input {
    &-container {
      display: flex;
      align-items: center;
      width: 100%;

      & .logo {
        margin-right: 20px;
        margin-left: 100px;
        &:hover {
          cursor: pointer;
        }
      }

      & input[type="text"] {
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        height: 100%;
        padding: 6px 6px 6px 35px;
        color: #333;
        font-size: 16px;
        border-radius: 2px;
        border: none;
        width: 100%;
      }
      .search-button {
        background-color: $bg-color;
        width: 30px;
        height: 30px;
        padding: 0 5px;
        border-radius: 1px;
        border: 0;
        margin-right: 100px;
      }

      .search-icon {
        width: 15px;
        height: 15px;
      }
    }

    &-header {
      height: 30px;
      border: 0;
      padding: 0 10px;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
}

.search-button {
  &:hover {
    cursor: pointer;
  }
}
