@use "./sass/" as *;
@use "./sass/variables" as *;
@use "./sass/mixins" as *;
@use "./sass/breakpoints" as *;
body {
  margin: 0;
  background-color: $bg-color;
  min-height: 600px;
}

* {
  font-family: "Proxima Nova";
}