@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap");
.header {
  margin-top: 0;
  background-color: #ffdb15;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__container {
  background-color: #ffdb15;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
  margin: 0 10px;
  padding-top: 5px;
  padding-bottom: 7px;
}
.header__input-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__input-container .logo {
  margin-right: 20px;
  margin-left: 100px;
}
.header__input-container .logo:hover {
  cursor: pointer;
}
.header__input-container input[type=text] {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 6px 6px 6px 35px;
  color: #333;
  font-size: 16px;
  border-radius: 1px;
  border: none;
  border-radius: 1px solid;
  width: 100%;
}
.header__input-container .search-button {
  background-color: #ebebeb;
  width: 30px;
  height: 30px;
  padding: 0 5px;
  border-radius: 1px;
  border: 0;
  margin-right: 100px;
}
.header__input-container .search-button:hover {
  cursor: pointer;
}
.header__input-container .search-icon {
  width: 15px;
  height: 15px;
  border-radius: 1px;
}

.container__card-product {
  margin: 0px 110px 0 110px;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.2);
}
.container__card-product:hover {
  box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.2);
}
.container__card-product .imageCard {
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 110px;
  width: 110px;
  margin-left: 0;
}
.container__card-product .productData {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.container__card-product .productData .product__price {
  display: flex;
  font-size: 20px;
  font-weight: 400;
}
.container__card-product .productData .product__price .iconVerif {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  margin: 0 10px;
}
.container__card-product .productData .product__price .product__location {
  position: absolute;
  margin: 10px 110px 10px 110px;
  right: 50px;
  font-size: 10px;
  color: #666;
}
.container__card-product .productData .product__description {
  font-size: 14px;
  color: #3f3f3f;
}

.breadcrumb {
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 110px;
}

.grid-detailContainer {
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin: 0 110px 50px 110px;
  border-radius: 5px;
}
.grid-detailContainer .productImgDesc {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.grid-detailContainer .productImgDesc .detailImg {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  margin-top: 20px;
}
.grid-detailContainer .productImgDesc h3 {
  margin: 80px 0 0 20px;
}
.grid-detailContainer .productImgDesc .detailDescription {
  max-width: 350px;
  color: #666;
  font-size: 14px;
  width: 90%;
  margin-left: 20px;
}
.grid-detailContainer .productInfo {
  background-color: #ffffff;
}
.grid-detailContainer .productInfo .condition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 20px 0px 0;
  color: #666;
  font-size: 12px;
}
.grid-detailContainer .productInfo .priceDetail {
  font-size: 34px;
  font-weight: 400;
}
.grid-detailContainer .productInfo .itemsQuantity {
  color: #666;
  font-size: 12px;
}
.grid-detailContainer .productInfo .titleDetail {
  font-size: 24px;
  font-weight: 900;
  margin-top: 10px;
}
.grid-detailContainer .productInfo .btn-purchase {
  background-color: #3483fa;
  box-shadow: 0 0 0 0 #fff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 90%;
  border-color: transparent;
  border-radius: 6px;
  transition: box-shadow 0.25s ease-out, background-color 0.2s ease-in-out;
  margin-top: 40px;
}

body {
  margin: 0;
  background-color: #ebebeb;
  min-height: 600px;
}

* {
  font-family: "Proxima Nova";
}/*# sourceMappingURL=App.css.map */